<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.titre - EasyCoding    </title>
</head>
<body>
    <header>
        <h2>
            <a href="@Url.RouteUrl("Index")">Accueil</a>
        </h2>
            <a href="@Url.RouteUrl("Login")">S'inscrire</a>
    </header>
    @RenderBody()

    <footer>
        &copy;@DateTime.UtcNow.Year 
    </footer>
    @RenderSection("Scripts", false)
</body>
</html>
